<%- include('partial/header.ejs') %>

  <div class="content">
    <div id="hero">
      
      <div class="left">
        <div class="row">
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>
        
        <div class="row">
          
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>

        <div class="row">
          
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>
        
      </div>
      
      <div class="right">
        
        <div class="column">
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>
        <div class="column">
          
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>

        <div class="column">
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>
        <div class="column">
          
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>

        <div class="column">
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>
        <div class="column">
          
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>

        <div class="column">
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>
        <div class="column">
          
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>

        <div class="column">
          <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
        </div>
        
      </div>
    </div>


<div class="create-post">+</div>
    <div id="main-content">
      
      <div class="blog-card">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
      </div>
        <div class="blog-show">
        <div class="title"><h2>Title</h2></div>
        <div class="caption"><p>The NEOM project is a $500 billion initiative of Saudi Arabia's crown prince Mohammed bin Salman. 
 The project is part of the Saudi Vision 2030 plan to reduce the country's reliance on oil. 
 The project is planned to be built in the Tabuk Province of Saudi Arabia, north of the Red Sea. The project's total planned area is 26,500 km²</p></div>
        </div>
      </div>

      <div class="blog-card">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1683009427598-9c21a169f98f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" />
      </div>
        <div class="blog-show">
        <div class="title"><h2>Title</h2></div>
        <div class="caption"><p>The NEOM project is a $500 billion initiative of Saudi Arabia's crown prince Mohammed bin Salman. 
 The project is part of the Saudi Vision 2030 plan to reduce the country's reliance on oil. 
 The project is planned to be built in the Tabuk Province of Saudi Arabia, north of the Red Sea. The project's total planned area is 26,500 km²</p></div>
        </div>
      </div>
  
    </div>
  </div>
    
  </div>

  <script src="/scripts/script.js"></script>
</body>
</html>
